{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
<!--    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">-->
    {% comment %}
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    {% endcomment %}

    <title>Expense Tracker</title>
</head>
<body>

    <nav class="shadow-lg p-5 bg-white">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="{% url 'index' %}" class="flex items-center">
                <img class="h-10 mr-3" src="{% static 'myapp/images/wallet.png' %}" alt="Wallet">
                <span class="self-center text-xl font-bold">Expense Tracker</span>
            </a>
        </div>
    </nav>

    <div class="container mx-auto p-5">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>